[user]
  name = Tadas Tamosauskas
  email = tadastamo@gmail.com

[color]
  ui = true
[alias]
  st = status
  br = branch
  cm = checkout master
  wip = commit -m 'wip [ci skip]'
[core]
  excludesfile = ~/.gitignore

[format]
  pretty=format:%C(yellow)%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset

[init]
  templatedir = ~/.git-template

[web]
  browser = firefox

[github]
  user = tadast

[diff]
  algorithm = patience

[push]
  default = simple

[credential]
  helper = store

[rebase]
  autosquash = true
  autostash = true

[pull]
  rebase = true

[diff "ansible-vault"]
  textconv = ansible-vault view
[merge "ansible-vault"]
  name = ansible-vault merge driver
  driver = /usr/local/bin/ansible-vault-merge -- %O %A %B %P

[merge]
	tool = meld
